html {
    margin: 0;
}

body {
    margin: 0;
}

h1 {
    font-size: 50px;
    color: white;
    margin-top: -1px;
    text-align: center;
    height: 70px;
    background-color: black;
}

#raza{
    display: flex;
    justify-content: center;
}

span{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#foto {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
img{
    max-width: 500px;
    max-height: 500px;
}